.scop__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.scop__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 0 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scop__brand img {
    max-width: 150px;
    min-width: 120px;
}